body {
 color: #fff;
}

h1 {
    font-size: 3rem;
}

.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: grey;
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 5px 20px whitesmoke;
    transform: scale(1.03);
    transform: 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

/* #progressBar {
    width: 20rem;
    height: 2.5rem;
    border: 0.2rem solid green;
    margin-top: 2.5rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background-color: solid green;
    width: 0%; */
}

@media screen and (max-width: 786px) {
    .choice-container {
        min-width: 40rem;
    }
}
